/* Universal Styles  */
html,
body {
  max-width: 1200px;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;

}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

h2 {
  display:flex;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;

}

h3 {
  padding-left: 2rem;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: black;
  margin: 0;
}

.header-container img {
  height: 1.5rem;
  margin: 0.5rem;
}

.header-text {
  vertical-align: middle;
  font-size: 1rem;
  margin: 0.66rem 0.5rem;
}

/*  Banner Section  */
.banner {
  width: 100%;
  height: 25rem;
}

.banner-image {
  display: flex;
  align-items: center;
  background-image: url("../images/moto.jpeg");
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center;
}

.banner-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  width: 40%;
  margin-left: 10%;
  margin-top: 9rem;
}


/*  Navigation Section  */
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

/*  Product Section  */
.product {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.product-container {
  width: 80%;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  border: 4px solid black;
}

.product-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
  margin: 2rem;
}

.product-image span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*  Location-Hours Section  */
.location-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.location-hours {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 3rem;
}

.location,
.hours {
  width: 35%;
}

.location-hours p {
  color: black;
  background-color: white;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

/*  Footer Section  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.copyright-container {
  width: 80%;
  margin: 2.5rem;
}
